
@media (max-width: 75em) {
  body {
    width: 100%;
    margin: unset;
  }

  .title-div h1 {
    font-size: 2.5rem;
  }

  .task-title {
    font-size: 2rem;
  }

  .tool-menu {
    font-size: 2rem;
  }

  .icons {
    width: 4rem;
    height: 4rem;
  }

  .ctrl-icons {
    width: 3rem;
    height: 3rem;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .div__control img {
    width: 3rem;
    height: 2.8rem;
  }

  #canvas-container {
    width: 100%;
    height: auto;
    /* margin-left: 20px; */
    margin-left: 170px;
  }

  #simscreen{
   align-items: center;
  }

  p{
    margin-bottom:5px;
    
  }


}



@media (max-width: 59em) {

  .tool-link:link,
  .tool-link:visited {
    gap: 0.5rem;
    font-size: 1.4rem;
    flex-direction: column;
  }

  .title-div h1 {
    font-size: 2rem;
  }

  .main__task-div {
    height: auto;
  }

  .sidebar {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    width: 100%;
    backdrop-filter: blur(10rem);
    z-index: 101;
    justify-content: space-evenly;
    border-radius: 0;
    scroll-behavior: auto;
  
  }

  .tool-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 100%;
    font-size: 2.4rem;
    justify-content: space-evenly;
    padding: 1rem;
  }

  .main-section {
    grid-template-columns: 1fr;
  }

  .logo-div {
    width: 6.5rem;
  }

  .icons {
    width: 3rem;
    height: 3rem;
  }

  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .main-section {
    grid-template-columns: 1fr;
  }

  .canvas__div {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  #canvas-container {
    width: 100%;
    height: auto;
    /* margin-left: 20px; */
    margin-left: 170px;
  }
  p{
    margin-bottom: 60px;
    
  }
}


@media (max-width: 48em) {
  .main-section {
    grid-template-columns: 1fr;
  }

  .canvas__div {
    grid-template-columns: 1fr;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  #canvas-container {
    width: 100%;
    height: auto;
    /* margin-left: 20px; */
    margin-left: 60px;
  }
  p{
    margin-bottom: 60px;
    
  }

}


@media (max-width: 44em) {
  .canvas__div {
    grid-template-columns: 1fr;
  }

  .img-div {
    flex-direction: column;
  }

  .title-div {
    gap: 0rem;
    text-align: center;
  }

  .round {
    width: 0.6rem;
    height: 0.6rem;
  }

  .logo-div {
    width: 8.5rem;
    padding: 0.8rem 0 0.8rem 3.3rem;
  }

  .main__task-div:nth-child(4) {
    margin-bottom: 6rem;
  }

  .circuit-dia {
    width: 40%;
  }

  .cross-img {
    width: 60%;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
  }

  #canvas-container {
    width: 100%;
    height: auto;
    /* margin-left: 20px; */
    margin-left: 5px;
  }

  #commentboxleft,
  #commentboxright {
    margin-left: 145px;

  }
  p{
    margin-bottom: 70px;
    
  }
  

}




@media (max-width: 34em) {
  .container {
    padding: 0.5rem;
    gap: 1rem;
    
    
  }

  .title-div h1 {
    padding: 0.2rem;

    font-size: 1.6rem;
    /* text-align: center; */
  }

  .div__control {
    gap: 2rem;
    /* top: 1.8rem;
    right: 1.5rem; */
  }

  .ctrl-icons {
    width: 2.5rem;
    height: 2.5rem;
  }

  .task-title {
    font-size: 1.7rem;
  }

  label,
  select,
  input,
  p {
    display: inline-block;
    font-size: 1.5rem;
  }
  p{
    margin-bottom: 85px;
  }

  .main {
    gap: 0.5rem;
  }

  .main-section {
    gap: 0.5rem;
  }

  .sidebar {
    border-radius: 0;
  }

  .canvas {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    border-top: 1px solid rgba(177, 176, 176, 0.855);
   
  }

  .div__control img {
    width: 2.7rem;
    height: 2.5rem;
  }

  .tooltip {
    font-size: 1rem;
  }

  #canvas-container {
    width: 100%;
    height: auto;
    /* margin-left: 20px; */
    margin-left: -25px;
  }
  .variables-sections{
    margin-left: -25px;
   
  }

  #commentboxleft,
  #commentboxright {
    margin-left: 60px;

  }
}


  @media (max-width: 21em) {
    .container {
      padding: 0.5rem;
      gap: 1rem;
      max-width: 100%;
      margin: 0 auto;
    }

    .title-control-div{
      width: 89%;
    }
   
    .canvas__div{
      width: 89%;
      margin-right: 10px;
    }

    .variables-sections{
      width: 89%;
      margin-left: -50px;
      background-color: rgb(235,248,255);
    }
  
    .title-div h1 {
      padding: 0.2rem;
      font-size: 1.6rem;
    }

    #commentboxleft,
    #commentboxright {
    position: relative;
    right: 20px;
  
    }
  
    .div__control {
      gap: 2rem;
    }
  
    .ctrl-icons {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    .task-title {
      font-size: 1.7rem;
    }
  
    label,
    select,
    input,
    p {
      display: inline-block;
      font-size: 1.5rem;
    }
    p {
      width: 80%;
      margin-bottom: 55px;
    }
  
    .main,
    .main-section {
      gap: 0.5rem;
    }
  
    .sidebar {
      border-radius: 0;
    }
  
    .canvas {
      display: block;
      width: 100%;
      height: 100%;
      border: none;
      border-top: 1px solid rgba(177, 176, 176, 0.855);
    }
  
    .div__control img {
      width: 2.7rem;
      height: 2.5rem;
    }
  
    .tooltip {
      font-size: 1rem;
    }
  
    #canvas-container {
      width: 100%;
      height: auto;
      margin-left: -25px;
    }
  
    #commentboxleft,
    #commentboxright {
      margin-left: 60px;
    }
  
    div.main__task-div.footer {
      width: 89% !important;
    }
    .sidebar {
      width: 100%;
    }
    
    .tool-menu {
      width: 100%;
    }
    
    .tool-list {
     width: 6%;
    }
  
  }





@media(max-width:600px) {
  canvas {
    width: 100%;
    height: auto;

  }
  div.main__task-div.footer {
    width: 100%;
  }
  
 
  
}






